{% extends 'base.html' %}
{% block content %}  

<section data-bs-version="5.1" class="header7 cid-tuo0SR0WJB mbr-fullscreen" id="header7-e">

    

    
    

    <div class="text-right container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                
                
                <p class="mbr-text mbr-fonts-style display-2">Budgeting<br><br>Cash Stuffing<br><br>Debt- Free Future</p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content2 cid-tuUsQ5uZ1k" id="content2-1f">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Recent posts</strong></h4>
        </div>
        <div class="row mt-4">
            {% for post in posts reversed %}
            {% if forloop.counter <= 3 %}
            <div class="item features-image сol-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    {% if post.cover %}
                    <div class="item-img">
                        <a href="{{post.get_absolute_url}}"><img src="{{post.cover.url}}" alt="" title="" data-slide-to="1" data-bs-slide-to="1"></a>
                    </div>
                    {% else %}
                    {% endif %}
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">{{post.title}}</h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><p><strong>by {{post.author.first_name}} {{post.author.last_name}}</strong><strong>&nbsp;</strong></p></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">{{post.post_summary|safe}}</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{{post.get_absolute_url}}" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="eb-youtube-feed cid-tuob84l6mM" id="eb-youtube-feed-n"><script src="https://s.electricblaze.com/widget.js" defer=""></script>
<div class="electricblaze-id-2Uhx7sC"></div></section>

<section class="form cid-tuogmMNw9s" id="formbuilder-r">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="Y4oAtxGnjJBEPIkZCD2Am/6Z5XPTitG2Ndj7+HvzRQnUjrEf5cQqG1XlxWYCiUKO8nwFXkwhBn9kjOKp5oFFkLe7pR2r8WTw6dFIoqzL3gilrePmnzpiQZ0xss4jXb9x.1rCrEo2otpiLgv+O7k8gfBC7lEgGRTIIfO77X7xsU5GcHlwxbNSDevyz2+HoEXXhXiXEF9HgT23k/fdaPzewxMI0lcYHBSQdYOr+fiHxDQDoiRAkaxJAsh6HM032iqjM">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h4 class="mbr-fonts-style display-7">Interested in collaborating with me? Want me to review your budget related products, services, or YouTube channel? Fill out the form below to contact me.&nbsp;<br><br></h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<hr>
</div>
<div data-for="name" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control display-7" value="" id="name-formbuilder-r">
</div>
<div data-for="email" class="col-lg-12 col-md-12 col-sm-12 form-group">
<input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" value="" id="email-formbuilder-r">
</div>
<div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group">
<textarea name="message" placeholder="Message" data-form-field="message" class="form-control display-7" id="message-formbuilder-r"></textarea>
</div>
<div class="col-auto"><button type="submit" class="w-100 btn btn-danger display-7">Submit</button></div>
</div>
<span class="gdpr-block">
<label>
<span class="textGDPR display-7" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-formbuilder-r" required="">By continuing you agree to our <a style="color: #149dcc; text-decoration: none;" href="{% url 'tos' %}">Terms of Service</a>.</span>
</label>
</span></form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>

{% endblock %}