<!--templates/post-list.html-->
{% extends "base.html" %}
{% block title %}All Posts{% endblock title %}
{% block content %}
<H1 class="mt-5" style="text-align: center;">All Articles</H1>
<div class="container">
    {% for post in post_list %}
        <div class="">
          <div class="card mb-3 mt-5 mt-0" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{post.cover.url}}" class="img-fluid rounded-start" style="" alt="{{post.title}}" height="100" width="auto">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-titlex">{{post.title}}</h5>
                  <p class="card-text">{{post.post_summary|safe}}</p>
                  <p class="card-text">by {{post.author.first_name}} {{post.author.last_name}}</p>
                  <p class="card-text"><small class="text-muted"><b>Published: {{ post.pub_date| timesince}} ago</b> </small></p>
                  <a href="{% url 'post-detail' post.pk %}" class="btn" role="button">Read Post</a>
                  <div style="padding-bottom: 1rem;"></div>
                  <div class="mt-3">

                    <h5 class="jost" style="border-bottom: solid 3px lightgray ; padding-bottom: 1rem;">All comments</h5>

                    {% for comment in post.comment_set.all %}                    
                      <li class="jost" style="display: inline;">{{comment.author.username }}</li>
                      <li class="jost" style="display: inline; color: gray;"> {{comment.pub_date|timesince}} ago</li>
                      <div style="padding-bottom: 1rem;"></div>
                    </ul>
                    <p class="jost">{{ comment|safe }}</p>
                    
                    {% endfor %}
                  </div>
            </div>
          </div>
      </div>
        </div>
      {% endfor %}
</div>
{% endblock content %}